:root {
  --ev-c-white: #ffffff;
  --ev-c-black: #1b1b1f;
}

:root {
  --color-background: var(--ev-c-white);
  --color-text: var(--ev-c-black);
}

ul {
  list-style: none;
}

body {
  color: var(--color-text);
  line-height: 1.6;
  background: #f0f0f0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
